.login {
  .login-form {
    width: 400px;
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }
  .ant-input-password-icon {
    color: rgba(0, 0, 0, 0.45);
  }
  #retryButton {
    margin: 0;
  }
}
